@font-face {
  font-family: 'Avantt';
  src: url('../../fonts/AvanttTRIAL-Medium-BF6721a86adebb3.otf') format('opentype'),
  url('../../fonts/AvanttTRIALVF-BF6721a86b223dc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ludva CTM';
  src: url('../../fonts/BCLudva-SemiboldSlant.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avantt', sans-serif;
  margin: 0;
  color: #0C0D0D;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  display: block;
  text-decoration: none;
  color: #0C0D0D;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper-h1 {
  position: relative;

  h1 {
    font-family: 'Ludva CTM', sans-serif;
    margin: 0;
    font-size: 140px;
    line-height: 115px;
    transform: skewX(-20deg);
  }

  span {
    position: absolute;
    top: 10px;
    right: -75px;
    font-size: 20px;
    text-transform: uppercase;
  }
}

header {
  .navigation {
    margin-bottom: -2px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper {
      display: flex;

      .logo {
        margin-right: 32px;
        width: 184px;
        display: flex;
        align-items: center;
      }
    }

    ul {
      display: flex;

      a {
        padding: 20px;
        display: flex;
        font-size: 16px;

        &.search::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 5px;
          background: url(../../img/svg/icon-search.svg) no-repeat;
        }
      }

      &.menu {
        a {
          text-transform: uppercase;

          &.active {
            background: #D8D9DA;
          }
        }
      }
    }
  }

  .breadcrumbs {
    min-height: 50px;
    display: flex;
    align-items: center;
    background: #F1F1F1;
    color: #979A9B;
    font-size: 14px;

    .strong {
      color: #0C0D0D;
    }
  }

  .tab-decoction {
    background: #F1F1F1;
    padding-right: 0;

    .panel-tab {
      padding-bottom: 20px;
      position: relative;
      display: flex;
      justify-content: space-between;

      .content-left {
        .wrapper-tabs {
          display: flex;
        }
      }

      .content-right {
        width: 70%;

        .comparison-box {
          margin-top: 30px;
          margin-right: 30px;
          text-align: right;

          button {
            display: inline-flex;
            align-items: center;
            background: transparent;
            border: none;
            font-size: 16px;
            cursor: pointer;

            &::after {
              margin-left: 10px;
              content: "";
              width: 20px;
              height: 20px;
              background: url(../../img/svg/ic_plus.svg) no-repeat;
            }
          }
        }

        .zoom {
          margin-right: 20px;
          text-align: right;

          button {
            padding: 10px 16px;
            background: #0C0D0D;
            border: none;
            color: #FFFFFF;
            cursor: pointer;
          }
        }

        .wrapper-color-tabs {
          position: absolute;
          left: 0;
          bottom: 20px;
          display: flex;

          .tab {
            width: 40px;
            height: 40px;
            border: 1px solid #D8D9DA;
            display: flex;
            align-items: center;
            justify-content: center;

            &.tab-active {
              border: 1px solid #0C0D0D;
            }

            &::before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }

            &:nth-child(1)::before {
              background: linear-gradient(to right, #474A5A 50%, #F1F15B 50%);
            }

            &:nth-child(2)::before {
              background: #0C0D0D;
            }

            &:nth-child(3)::before {
              background: #979A9B;
            }

            &:nth-child(4)::before {
              background: #C4C4C4;
            }

            &:nth-child(5)::before {
              background: #5B1890;
            }

            &:nth-child(6)::before {
              background: linear-gradient(to right, #A65252 50%, #913535 50%);
            }
          }
        }

        .tab-content-color {
          position: relative;

          .tab-content {
            &:nth-child(1)::before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: linear-gradient(to right, #474A5A 50%, #F1F15B 50%);
            }

            &:nth-child(2)::before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #0C0D0D;
            }

            &:nth-child(3)::before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #979A9B;
            }

            &:nth-child(4)::before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #C4C4C4;
            }

            &:nth-child(5)::before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #5B1890;
            }

            &:nth-child(6)::before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: linear-gradient(to right, #A65252 50%, #913535 50%);
            }
          }
        }

        .tab-content.big-size {
          img {
            width: 80%;
          }
        }

        .modal {
          display: none;
          align-items: center;
          justify-content: center;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          transition: opacity 0.3s ease;
        }

        .modal-content {
          background-color: #fff;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        .modal.show {
          display: flex;
        }

        .modal-content.show {
          opacity: 1;
        }

        .close-button {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close-button:hover,
        .close-button:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

section.description {
  padding: 20px 20px 100px;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
  }

  .price {
    color: #646768;
    line-height: 26px;
  }

  .content-right {
    width: 63%;

    #description {
      margin-bottom: 50px;

      &.expanded .wrapper-description {
        max-height: 260px;
      }

      .wrapper-description {
        max-height: 130px;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
      }

      #toggle-button {
        border: none;
        background: none;
        font-size: 20px;
      }

      p {
        font-size: 20px;
      }
    }

    .links {
      li {
        margin-bottom: 13px;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          margin-right: 15px;
          display: block;
          width: 25px;
          height: 25px;
        }

        &:nth-child(1)::before {
          background: url("../../img/svg/Artboard39.svg") no-repeat;
        }

        &:nth-child(2)::before {
          background: url("../../img/svg/Artboard39 copy.svg") no-repeat;
        }

        &:nth-child(3)::before {
          background: url("../../img/svg/Artboard39copy2.svg") no-repeat;
        }
      }

      a {
        color: #646768;
      }
    }
  }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #D8D9DA;
  color: #7D8082;

  &.tab-active {
    border: 1px solid #000000;
    color: #0C0D0D;
  }
}

.tab-content {
  display: none;
}

.tab-content-active {
  display: block;
}